html {
    height: 100%;
    background-image: url(./img/fondo.jpg);
    /* background-image: linear-gradient(to left,pink,orange); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-position: 20px 50px; */
    /* background-attachment: fixed; */
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    font-size: 50px;
    margin: 30px 0 0 0;
}
p {
    font-size: 18px;
    line-height: 2;
    margin: 0;
}
h2 {
    font-size: 30px;
}
.nickname {
    margin-bottom: 60px;
}
.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}
.contenido {
    width: 600px;
}
.contenido p {
    text-align: justify;
}
.contenido img {
    width: 200px;
    border-radius: 30px;
    box-shadow: 10px 10px 8px #ababab;
    float: left;
    margin: 10px 15px 0 0;
    cursor: grab;
}
.contenido img:active {
    cursor: grabbing;
}
ul {
    list-style: square;
    margin-bottom: 60px;
}
li {
    font-size: 18px;
}
.social {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}
.social a {
    text-decoration: none;
}
.social a:hover {
    color: red;
}
.contenedorFormulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.formulario {
    display: flex;
    flex-direction: column;
}
.formulario label {
    margin: 15px 0;
}
.formulario input {
    height: 22px;
}
#check {
    margin-right: 250px;
}
.formularioCampos {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.formRadio {
    display: flex;
    width: 100%;
    align-items: center;
}
#radioPrimerLabel {
    margin-right: 130px;
}
.formularioButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
}
.formularioButton button {
    width: 55px;
    height: 50px;
    background: none;
    border: solid 1px #ababab;
    border-radius: 15px;
    box-shadow: 5px 5px 8px #ababab;
    cursor: pointer;
}
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset img {
    width: 30px;
    height: auto;
}
.enviar {
    font-weight: bold;
}