html {
    height: 100%;
    background-image: url(./img/fondo.jpg);
    /* background-image: linear-gradient(to left,pink,orange); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-position: 20px 50px; */
    /* background-attachment: fixed; */
}